:root {
  --scale: 1.5;
  --x: 1.5px;
  --y: 1.5px;
  --startx: 1.5px;
  --starty: 1.5px;
}

div {
  position: relative;
  display: inline;
}

.imtip {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find {
  transition: 1s;
}

h1 {
  text-align: center;
}


.img {
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}


.background {
  position: fixed;
  z-index: 1;
}

@keyframes zoomin {
  from {
    scale: 1;
    z-index: 20;
    opacity: 1;
  }

  to {
    scale: var(--scale);
    z-index: 20;
    opacity: 0.5;
    top: var(--x);
    left: var(--y);
  }
}

.center {
  position: fixed;
  margin-left: 50%;
  z-index: 100;
  transform: translate(-50%, 0%);
}


.mobilelogo {
  z-index: 100;
}

.door {

  position: fixed;
  z-index: 3;

}



@font-face {
  font-family: BabyDoll;
  src: url(Baby\ Doll.ttf);
}

.zoom {
  animation-name: zoomin;
  animation-duration: 1s;
}

.zoompoint {
  animation: zoomintopoint 1s ease-in;
}




@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Centering the text box */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-box {
  border-radius: 10px;
  border-style: dotted;
  padding: 20px;
  width: 900px;
  font-family: BabyDoll;
  font-size: 20px;
  z-index: 100;
}

.font {

  font-family: BabyDoll;
  color: white;
  font-size: large;

}

.mobilelist {
  font-family: BabyDoll;
  font-size: xx-large;
}